<div>
  <div class="container">
    <div class="listDiv" data-button-target="listDiv">

    <div class=btn-group>
      <i class="fa-regular fa-heart"></i><h3>Your favorites</h3>

    </div>
    <div>
      <% @favorites.each do |favorite| %>
        <%=link_to venue_path(favorite.venue) do %>
          <div class="venue-card favorite-venue-card">
            <%= cl_image_tag favorite.venue.photo.key, :class=>"venue-image favorite-image-size", :alt=>"venue image", :width=>450, :height=>250 %>
            <%= tag.p favorite.venue.name, class: 'venue-text' %>
            <%= tag.p favorite.venue.address, class: 'venue-text' %>
            <div class="venue-timetable">
              <%= tag.p favorite.venue.opening_time, class: 'venue-text' %>
              <%= tag.p favorite.venue.closing_time, class: 'venue-text' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
