<div class="venue-title">
  <h2>Your Bookings</h2>
  <div class="wrapper">
    <% if @user_bookings.size > 0 %>
      <% @user_bookings.each do |booking| %>
        <div class="venue-card">
          <a href=<%= booking_path(booking.id) %>>
          <%= cl_image_tag(booking.venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250) %></a><%= booking.venue.name %> <%= booking.venue.address %>
          <p>Opening time: <%= booking.venue.opening_time %>, Closing time: <%= booking.venue.closing_time %></p>
        </div>
      <% end %>
    <% else %>
      <p>No more bookings.
      <br>
      Visit a venue.</p>
    <% end %>
  </div>
</div>
