<div class="venue-title">
  <h2>Your Bookings</h2>
    <div class="wrapper">
      <% @user_bookings.each do |booking| %>
        <div class="venue-card">
          <a href=<%=venue_path(booking.venue)%>>
            <%= cl_image_tag(booking.venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250) %>
        <div class="venue-text">
          <div class ="venue-text" <%= booking.venue.name %> <%= booking.venue.address %> | <%= booking.venue %>
            <% unless booking.venue.average_rating == nil %>
            <%= "| #{("â­" * booking.venue.average_rating)}" if booking.venue.average_rating > 0 %>
            <% end %>
            <p class ="venue-text"> Opening time: <%= booking.venue.opening_time %>, Closing time: <%= booking.venue.closing_time %></p>
          </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
