<div class="venue-title">
  <h2>Your Visits</h2>
  <div class="wrapper">
    <% if @user_bookings.size > 0 %>
      <% @user_bookings.each do |booking| %>
        <div class="venue-card">
          <a href=<%= booking_path(booking.id) %>>
          <%= cl_image_tag(booking.venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250) %></a>
          <%= booking.venue.name %>
          <br>
          <%= booking.date %>
          </div>
      <% end %>
    <% else %>
      <p>No more visits.
      <br>
      <%= link_to "New Visit", venues_path, class: "btn btn-gradient" %></p>
    <% end %>
  </div>
</div>
