THIS PAGE IS CURRENTLY USELESS

<div class="booking">

  <div id="left-side" style="width: 60%;">
    <div class="venue-title">
      <h2><%= @venue.name %> <%= @venue.address %> | Opening hours:<%= @venue.opening_time %> to <%= @venue.closing_time %></h2>
      <div class="product-specs">
        <%= cl_image_tag(@venue.photo.key, :class=>"booking-image", :alt=>"venue image", :width=>350, :height=>250) %>
        <h3>Venue information</h3>
        <ul>
          <li>Website: <%= @venue.website %></li>
          <li>Power Outlets available: <%= @venue.power_outlets %></li>
          <li>Natural light: <%= @venue.natural_light %>"</li>
          <li>Suitable for calls: <%= @venue.suited_for_calls %>"</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="venue-title">
  <h2>Similar Cafes</h2>
  <div class="cards-container">
    <% @venue[10..13].each do |venue| %>
    <div class="venue-card">
    <%= cl_image_tag(venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>250) %>
        <div class="specs">
          <h4><%= venue.name %> <%= venue.address %> | Opening hours:<%= @venue.opening_time %> to <%= @venue.closing_time %></h4>
          <p class ="venue-text"> Website <%= venue.website %>, Ram: <%= venue.natural_light %>, <%= venue.suited_for_calls%>"</p>
          <h5 class ="venue-text">€<%= venue.category %>/hour </h5>
          <a href=<%=new_venue_booking_path(venue)%> class="btn-rent"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= f.input :borrow_date, as: :date, html5: true, required: true, format: 'yyyy-mm-dd' %>
<%= f.input :return_date, as: :date, html5: true, required: true, format: 'yyyy-mm-dd' %>
