this will display the new booking and the date in which it is ment to be done and time

<div class="booking">

  <div id="left-side" style="width: 60%;">
    <div class="venue-title">
      <h2><%= @venue.name %> <%= @laptop.model %> | <%= @laptop.year_built %></h2>
      <div class="product-specs">
        <%= cl_image_tag(@laptop.photo.key, :class=>"booking-image", :alt=>"laptop image", :width=>350, :height=>250) %>
        <h3>Specs</h3>
        <ul>
          <li>Hard Disk: <%= @laptop.hard_drive %></li>
          <li>Ram: <%= @laptop.ram %></li>
          <li>Screen size: <%= @laptop.screen_size %>"</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="laptop-title">
  <h2>Similar products</h2>
  <div class="cards-container">
    <% @laptops[10..13].each do |laptop| %>
    <div class="laptop-card">
    <%= cl_image_tag(laptop.photo.key, :class=>"laptop-image", :alt=>"laptop image", :width=>350, :height=>250) %>
        <div class="specs">
          <h4><%= laptop.brand %> <%= laptop.model %> | <%= laptop.year_built %></h4>
          <p class ="laptop-text"> HDD/SSD: <%= laptop.hard_drive %>, Ram: <%= laptop.ram %>, <%= laptop.screen_size%>"</p>
          <h5 class ="laptop-text">€<%= laptop.price %>/hour </h5>
          <a href=<%=new_laptop_booking_path(laptop)%> class="btn-rent"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= f.input :borrow_date, as: :date, html5: true, required: true, format: 'yyyy-mm-dd' %>
<%= f.input :return_date, as: :date, html5: true, required: true, format: 'yyyy-mm-dd' %>
