<div class="card-trip-booking">
  <%= cl_image_tag(@booking.venue.photo.key, :alt=>"venue image") %>
  <div class="card-trip-infos-booking">
    <div>
      <h2><%= @booking.venue.name %></h2>
          <p><% if @booking.venue.wifi %>
            <i class="fa-solid fa-wifi title"></i>
          <% end %>
          <% if @booking.venue.power_outlets %>
            <i class="fa-solid fa-plug title"></i>
          <% end %>
          <% if @booking.venue.suited_for_calls %>
            <i class="fa-solid fa-phone title"></i>
          <% end %>
          <% if @booking.venue.natural_light %>
            <i class="fa-solid fa-sun title"></i>
          <% end %>
          </p>
    </div>
    <h2 class="card-trip-pricing"><%= @booking.date %></h2>
    <% unless @user.photo.key.nil? %>
      <%= cl_image_tag @user.photo.key,  class: "card-trip-user-booking avatar-bordered"  %>
    <% else %>
      <%= image_tag "favicon.ico", class: "card-trip-user-booking avatar-bordered"  %>
    <% end %>
  </div>
</div>

<h2>Your other bookings</h2>
<% @user_bookings.each do |booking| %>
  <% if booking.id != @booking.id %>
    <div class="venue-card">
      <a href=<%= booking_path(booking.id) %>>
      <%= cl_image_tag(booking.venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250) %></a><%= booking.venue.name %> <%= booking.venue.address %>
      <p>Opening time: <%= booking.venue.opening_time %>, Closing time: <%= booking.venue.closing_time %></p>
    </div>
  <% end %>
  <% if @user_bookings.size < 2 %>
    <p>No more bookings.
    <br>
    Visit a venue.</p>
  <% end %>
<% end %>



<%= link_to "Delete",
              booking_path(@booking), class: "btn btn-gradient",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
            <%= link_to "Edit",
              edit_booking_path(@booking), class: "btn btn-gradient"
            %>
            <% unless @booking.review %>
              <%= link_to "Review",
            new_booking_review_path(@booking), class: "btn btn-gradient"
            %>
            <% end %>
