<% if false %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://i.imgur.com/AIqfQAt.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<nav class="navbar navbar-expand justify-content-center sticky-bottom", style="
    background-color: whitesmoke;">
  <div class="container">
    <ul class="navbar-nav nav-justified w-100 text-center">

      <li class="nav-item">
        <%= link_to venues_path, class:"nav-link d-flex flex-column" do  %>
          <% if  params[:action] == 'index' && params[:controller] == 'venues'%>
            <i class="fa-solid fa-house fa-cog"></i>
            <span class="d-none d-sm-inline", style=" color: rgba(132, 96, 70, 1);">Home</span>
            <% else %>
            <i class="fa-solid fa-house"></i>
            <span class="d-none d-sm-inline">Home</span>
          <% end %>
        <% end %>

      </li>
      <li class="nav-item" style="margin-right: 25px;">
        <%= link_to bookings_path, class:"nav-link d-flex flex-column" do  %>
          <% if params[:action]== 'create' && params[:controller] == 'bookings'%>
            <i class="fa-regular fa-calendar-check fa-cog"></i>
            <span class="d-none d-sm-inline", style=" color: rgba(132, 96, 70, 1);">Bookings</span>
          <% else %>
            <i class="fa-regular fa-calendar-check"></i>
            <span class="d-none d-sm-inline">Bookings</span>
          <% end %>
        <% end %>
      </li>

      <li class="nav-item add-button">
        <%= link_to "venues/new", class:"nav-link d-flex flex-column align-items-center" do  %>
          <% if params[:action] == 'create' && params[:controller] == 'venues'%>
            <i class="fa-solid fa-circle-plus fa-4x fa-cog"></i>
            <span class="d-none d-sm-inline", style=" color: rgba(132, 96, 70, 1);">Add</span>
          <% else %>
            <i class="fa-solid fa-circle-plus fa-4x"></i>
            <span class="d-none d-sm-inline">Add</span>
          <% end %>
        <% end %>
      </li>

      <li class="nav-item" style="margin-left: 25px;">
        <%= link_to new_venue_path, class:"nav-link d-flex flex-column" do  %>
          <% if  params[:action] == 'create' && params[:controller] == 'favourites'%>
            <i class="fa-regular fa-heart fa-cog"></i>
            <span class="d-none d-sm-inline", style=" color: rgba(132, 96, 70, 1);">Favorites</span>
          <% else %>
            <i class="fa-regular fa-heart"></i>
            <span class="d-none d-sm-inline">Favorites</span>
          <% end %>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to "#", class:"nav-link d-flex flex-column" do  %>
          <% if params[:action] == 'create' && params[:controller] == 'users'%>
            <i class="fa-regular fa-pen-to-square fa-cog"></i>
            <span class="d-none d-sm-inline", style=" color: rgba(132, 96, 70, 1);">Reviews</span>
          <% else %>
            <i class="fa-regular fa-pen-to-square"></i>
            <span class="d-none d-sm-inline">Reviews</span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
