<div class="row">
    <div class="col">
      <%= simple_form_for [@venue, @booking] do |f| %>
        <%= f.input :visit_date, as: :date, required: true %>
      <%= f.submit %>
    <% end %>
</div>
<%# <%= f.input :date, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
      <%# <%= f.submit %>
