<div
  data-controller="button map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
>
  <div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="form">
          <i class="fa fa-search"></i>
          <%= form_for "", url: venues_path, role: "search", method: :get do %>
            <%= text_field_tag :search, @search_term, class:"form-control form-input", placeholder: "Search.." %>
          <% end %>
          <span class="left-pan"><i class="fa fa-microphone"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group">
    <button class="button-list button-clicked" data-action="click->button#switchButtonList" data-button-target="buttonList">List</button>
    <button class="button-map" data-action="click->button#switchButtonMap click->map#resize" data-button-target="buttonMap">Map</button>
  </div>
  <div class="filter-group">
    <%= link_to (params[:has_wifi].nil? ? venues_path(request.query_parameters.merge({has_wifi:"true"})) : venues_path(request.query_parameters.merge({has_wifi: nil}))) do %>
      <% if params[:has_wifi].nil? %>
        <i class="fa-duotone fa-wifi-weak filter"></i>
      <% elsif params[:has_wifi] %>
        <i class="fa-solid fa-wifi filter"></i>
      <% end %>
    <% end %>
    <%= link_to (params[:has_plugs].nil? ? venues_path(request.query_parameters.merge({has_plugs:"true"})) : venues_path(request.query_parameters.merge({has_plugs: nil}))) do %>
      <% if params[:has_plugs].nil? %>
        <i class="fa-solid fa-plug-circle-xmark filter"></i>
      <% elsif params[:has_plugs] %>
        <i class="fa-solid fa-plug filter"></i>
      <% end %>
    <% end %>
    <%= link_to (params[:has_calls].nil? ? venues_path(request.query_parameters.merge({has_calls:"true"})) : venues_path(request.query_parameters.merge({has_calls: nil}))) do %>
      <% if params[:has_calls].nil? %>
        <i class="fa-solid fa-phone-slash filter"></i>
      <% elsif params[:has_calls] %>
        <i class="fa-solid fa-phone filter"></i>
      <% end %>
    <% end %>
    <%= link_to (params[:has_light].nil? ? venues_path(request.query_parameters.merge({has_light:"true"})) : venues_path(request.query_parameters.merge({has_light: nil}))) do %>
      <% if params[:has_light].nil? %>
        <i class="fa-duotone fa-sun filter"></i>
      <% elsif params[:has_light] %>
        <i class="fa-solid fa-sun filter"></i>
      <% end %>
    <% end %>
  </div>
  <div class="listDiv" data-button-target="listDiv">
    <div class=title-group>
      <i class="fa-solid fa-magnifying-glass"></i><h3>Your Search Results</h3>
    </div>
    <div class="wrapper">
      <% @venues.first(10).each do |venue| %>
        <%=link_to venue_path(venue) do %>
          <div class="venue-card">
          <%= cl_image_tag venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250 %>
          <div class="venue-content">
            <div class="venue-first-row">
              <p class="venue-text">
                <%= venue.name.first(25) %>
                <h6 class="card-rating btn-left-vindex"><i class="fas fa-star"></i>  <%= venue.average_rating %></h6>
              </p>
            </div>
            <div class="venue-icons">
                <% if venue.wifi %>
                  <i class="fa-solid fa-wifi title"></i>
                <% end %>
                <% if venue.power_outlets %>
                  <i class="fa-solid fa-plug title"></i>
                <% end %>
                <% if venue.suited_for_calls %>
                  <i class="fa-solid fa-phone title"></i>
                <% end %>
                <% if venue.natural_light %>
                  <i class="fa-solid fa-sun title"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class=title-group>
      <i class="fas fa-fire-flame-curved"></i><h3>Top Rated</h3>
    </div>
    <div class="wrapper">
      <% @venues.select{|a| a.average_rating}.sort{ |a,b| b.average_rating <=> a.average_rating}.first(10).each do |venue| %>
        <%=link_to venue_path(venue) do %>
          <div class="venue-card">
          <%= cl_image_tag venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250 %>
          <div class="venue-content">
            <div class="venue-first-row">
              <p class="venue-text">
                <%= venue.name.first(25) %>
                <h6 class="card-rating btn-left-vindex"><i class="fas fa-star"></i>  <%= venue.average_rating %></h6>
              </p>
            </div>
            <div class="venue-icons">
                <% if venue.wifi %>
                  <i class="fa-solid fa-wifi title"></i>
                <% end %>
                <% if venue.power_outlets %>
                  <i class="fa-solid fa-plug title"></i>
                <% end %>
                <% if venue.suited_for_calls %>
                  <i class="fa-solid fa-phone title"></i>
                <% end %>
                <% if venue.natural_light %>
                  <i class="fa-solid fa-sun title"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class=title-group>
      <i class="fas fa-euro-sign"></i><h3>Top Offers</h3>
    </div>
    <div class="wrapper">
      <% @venues.first(10).each do |venue| %>
        <%=link_to venue_path(venue) do %>
          <% if FavoriteVenue.find_by(user: current_user, venue:venue) %>
            <div data-controller="favorite" data-favorite-venue-id-value='<%=venue.id%>' data-favorite-favorite-id-value='<%=FavoriteVenue.find_by(user: current_user, venue:venue).id%>'>

                <%=link_to ('<i class="fa-solid fa-heart fav-icon" data-action="click->favorite#refresh"></i>').html_safe, venue_favorite_venue_path(venue,FavoriteVenue.find_by(user: current_user, venue:venue)), data: {turbo_method: "delete", target: "favorite.remove"} %>

            </div>
          <% else %>
            <div data-controller="favorite" data-favorite-venue-id-value='<%=venue.id%>' >

              <%=link_to ('<i class="fa-regular fa-heart fav-icon"  data-action="click->favorite#drefresh"></i>').html_safe, venue_favorite_venues_path(venue), data: {turbo_method: "post", target: "favorite.add"} %>
            </div>
          <% end %>
          <div class="venue-card">
            <%= cl_image_tag venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250 %>

              <div class="venue-content">
                <div class="venue-first-row">
                  <p class="venue-text">
                    <%= venue.name.first(25) %>
                    <h6 class="card-rating btn-left-vindex"><i class="fas fa-star"></i>  <%= venue.average_rating %></h6>
                  </p>
                </div>
              <div class="venue-icons">
                <% if venue.wifi %>
                  <i class="fa-solid fa-wifi title"></i>
                <% end %>
                <% if venue.power_outlets %>
                  <i class="fa-solid fa-plug title"></i>
                <% end %>
                <% if venue.suited_for_calls %>
                  <i class="fa-solid fa-phone title"></i>
                <% end %>
                <% if venue.natural_light %>
                  <i class="fa-solid fa-sun title"></i>
                <% end %>
              </div>
            </div>
          </div>

        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mapDiv"  data-button-target="mapDiv" style="display: none;">
    <div class="tab-pane" style="width: 100%; height: 600px;"
      data-map-target="map">
    </div>
  </div>
</div>
