<div
  class="container"
  data-controller="button map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
>
  <div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="form">
          <i class="fa fa-search"></i>
          <%= form_for "", url: venues_path, role: "search", method: :get do %>
            <%= text_field_tag :search, @search_term, class:"form-control form-input", placeholder: "Search.." %>
          <% end %>
          <span class="left-pan"><i class="fa fa-microphone"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group">
    <button class="button-list button-clicked" data-action="click->button#switchButtonList" data-button-target="buttonList">List</button>
    <button class="button-map" data-action="click->button#switchButtonMap click->map#resize" data-button-target="buttonMap">Map</button>
  </div>
  <div class=btn-group>
    <%# <button class ="fa-solid fa-wifi" href="#"> %>
    <%= link_to venues_path(has_plugs:"true") do %>
      <%= image_tag "https://icon2.cleanpng.com/20180531/fvs/kisspng-ac-power-plugs-and-sockets-computer-icons-electric-plug-5b103a9d4a78c8.577232151527790237305.jpg", style: "height: 30px; width: 30px;" %>
    <% end %>
    <%= link_to venues_path(has_calls:"true") do %>
      <%= image_tag "https://e7.pngegg.com/pngimages/468/969/png-clipart-phone-call-logo-sketch-telephone-mobile-phones-computer-icons-logo-telephone-miscellaneous-text.png", style: "height: 30px; width: 30px;" %>
    <% end %>
    <%= link_to venues_path(has_light:"true") do %>
      <%= image_tag "https://w7.pngwing.com/pngs/537/511/png-transparent-black-sun-computer-icons-symbol-sun-miscellaneous-symmetry-monochrome-thumbnail.png", style: "height: 30px; width: 30px;" %>
    <% end %>
    <%# <button class ="fa-solid fa-headset" href="/venues/1">
    <button class ="fa-solid fa-sun" href="/venues/has_light"> %>
  </div>
  <div class="listDiv" data-button-target="listDiv">
    <div class=btn-group>
      <i class="fa-solid fa-magnifying-glass"></i><h3>Your Search Results</h3>
    </div>
    <div class="wrapper">
      <% @venues.first(10).each do |venue| %>
        <%=link_to venue_path(venue) do  %>
          <div class="venue-card">
            <%= cl_image_tag venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250 %>
            <%= tag.p venue.name, class: 'venue-text' %><% venue.average_rating.to_i.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <div class="col-sm-4 col-xs-12 text-center">
                  <button type="button" class="btn btn-danger btn-block">
                    <i class="fa fa-heart"></i>
                    <span class="badge">favorite</span>
                  </button>
              </div>
            <% if current_user %>
              <%= link_to "favorite", favorite_venue_path(@venue, type: "favorite"), method: :put %>
              <%= link_to "unfavorite", favorite_venue_path(@venue, type: "unfavorite"), method: :put %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class=btn-group>
      <i class="fa-solid fa-fire-flame-curved"></i><h3>Top Rated Nearby</h3>
    </div>
    <div class="wrapper">
      <% @venues.select{|a| a.average_rating}.sort{ |a,b| b.average_rating <=> a.average_rating}.first(10).each do |venue| %>
        <%=link_to venue_path(venue) do %>
          <div class="venue-card">
            <%= cl_image_tag venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250 %>
            <%= tag.p venue.name, class: 'venue-text' %><% venue.average_rating.to_i.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <div class="col-sm-4 col-xs-12 text-center">
                <button type="button" class="btn btn-danger btn-block">
                  <i class="fa fa-heart"></i>
                  <span class="badge">favorite</span>
                </button>
              </div>
              <% if current_user %>
                <%= link_to "favorite", favorite_venue_path(@venue, type: "favorite"), method: :put %>
                <%= link_to "unfavorite", favorite_venue_path(@venue, type: "unfavorite"), method: :put %>
              <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class=btn-group>
      <i class="fa-solid fa-percent"></i><h3>Best offers</h3>
    </div>
    <div class="wrapper">
      <% @venues.first(10).each do |venue| %>
        <%=link_to venue_path(venue) do %>
          <div class="venue-card">
            <%= cl_image_tag venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250 %>
            <%= tag.p venue.name, class: 'venue-text' %><% venue.average_rating.to_i.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <div class="col-sm-4 col-xs-12 text-center">
                <button type="button" class="btn btn-danger btn-block">
                  <i class="fa fa-heart"></i>
                  <span class="badge">favorite</span>
                </button>
              </div>
            <% if current_user %>
              <%= link_to "favorite", favorite_venue_path(@venue, type: "favorite"), method: :put %>
              <%= link_to "unfavorite", favorite_venue_path(@venue, type: "unfavorite"), method: :put %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mapDiv"  data-button-target="mapDiv" style="display: none;">
    <div class="tab-pane" style="width: 100%; height: 600px;"
      data-map-target="map">
    </div>
  </div>
</div>
