<div class="venue-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopify.com/s/files/1/0534/0371/3720/files/cinnamon-bun_051e2ac8-8bc5-49cb-a113-8e57b511cfe5_1472x1472.jpg);">
</div>

<div class="venue-container">
  <h1><%= @venue.name %></h1>
  <p><%= @venue.address %></p>
  <div class="reviews">
    <%= @venue.average_rating unless @venue.average_rating.nan? %>
  </div>
  <p><%= @venue.opening_time_display %> - <%= @venue.closing_time_display %></p>
</div>
