<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<div class="card-trip">
  <%= cl_image_tag @venue.photo.key %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @venue.name %></h2>
      <p><%= @venue.address %></p>
      <h3>Visit</h3>
      <%= render "form" %>
      <h3>Reviews:</h3>
      <% @venue.all_reviews.first(2).each do |review| %>
        <h3><%= review.title %></h3>
        <p>
        <% review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="far fa-star"></i>
        <% end %>
        </p>
        <p><%= "#{review.comment.capitalize.first(60)}..." %></p>
        <br>
      <% end %>
    </div>
    <h3 class="card-trip-user"><i class="far fa-star"></i>  <%= @venue.average_rating %></h3>

    <h3 class="card-trip-review"><i class="fa-regular fa-heart"></i></h3>
    <%# <h3 class="card-trip-review"><i class="fa-solid fa-plus"></i><%= link_to "Review", bookings_path, class:"white-link" %>

  </div>
