<h1><%= @venue.name %></h1>
<% @venue.reviews.each do |review| %>
  <h2><%= review.title %></h2>
  <p>
  <% review.rating.times do %>
    <i class="fas fa-star"></i>
  <% end %>
  <% (5 - review.rating).times do %>
    <i class="far fa-star"></i>
  <% end %>
  <% if review.power_outlets %>
    <i class="fas fa-plug"></i>
  <% end %>
  <% if review.natural_light %>
    <i class="fas fa-sun"></i>
  <% end %>
  <% if review.suited_for_calls %>
    <i class="fas fa-phone"></i>
  <% end %>
  </p>
  <p>
  <% unless review.wifi_up.nil? || review.wifi_down.nil? %>
    <i class="fas fa-wifi"></i>
    <% unless review.wifi_down.nil? %>
    <i class="fas fa-arrow-down"></i>
      <%= review.wifi_down %> Mbps
    <% end %>
    <% unless review.wifi_up.nil? %>
    <i class="fas fa-arrow-up"></i>
      <%= review.wifi_down %> Mbps
    <% end %>
  <% end %>
  </p>
  <p><%= review.comment %></p>
  <br>
<% end %>
