<div class="venue-title">
  <h2>Leave a Review</h2>
    <div class="form-group" style="width: 80%" >
      <%= simple_form_for [@booking, @review], data: { turbo: false } do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: false, input_html: {data: {controller: "star-rating"}} %>
        <%= f.input :comment%>
        <div id="wifi-review">
          <%= f.input :wifi, collection: (1..3).to_a, label: "Wi-Fi Quality", input_html: {data: {controller: "star-rating"}} %>
          <h3>or</h3>
          <%= f.input :speedtest, as: :boolean %>
        </div>
        <%= f.input :power_outlets%>
        <%= f.input :suited_for_calls%>
        <%= f.input :natural_light%>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Add Review", class: 'btn btn-primary' %>
      <% end %>
      <div class="button">
        <%= link_to "Back to all Venues", venues_path %>
      </div>
    </div>
</div>
