<div class="venue-title">
  <h2>Post a New Review</h2>
    <div class="form-group" style="width: 80%" >
      <%= simple_form_for [@booking, @review], data: { turbo: false } do |f| %>
        <%= f.input :rating, as: :select, collection: 0..5 %>
        <%= f.input :title%>
        <%= f.input :comment%>
        <%= f.input :wifi, collection: ["None", "Bad", "Neutral", "Good"] %>
        <%= f.input :wifi_down%>
        <%= f.input :wifi_up%>
        <%= f.input :power_outlets%>
        <%= f.input :suited_for_calls%>
        <%= f.input :natural_light%>
        <%= f.input :coffe_price%>
        <%= f.input :food_price%>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all Venues", venues_path %>
    </div>
</div>
