<!DOCTYPE html>
<html>
  <head>
    <!-- HTML Meta Tags -->
    <title>Where 2 Work</title>
    <meta name="description" content="Work.
    From Anywhere.
    The most reliable workspace.
    At your fingertips.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Where 2 Work">
    <meta itemprop="description" content="Work.
    From Anywhere.
    The most reliable workspace.
    At your fingertips.">
    <meta itemprop="image" content="">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Quando&display=swap" rel="stylesheet">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://www.where2work.es">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Where 2 Work">
    <meta property="og:description" content="Work.
    From Anywhere.
    The most reliable workspace.
    At your fingertips.">
    <meta property="og:image" content="">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Where 2 Work">
    <meta name="twitter:description" content="Work.
    From Anywhere.
    The most reliable workspace.
    At your fingertips.">
    <meta name="twitter:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/sharp-solid.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>
    <%= render "shared/branding" %>
    <div class="main-content">
      <%= yield %>
    </div>
    <%= render "shared/navbar" %>
  </body>
</html>
