<!DOCTYPE html>
<html>
  <head>
    <!-- HTML Meta Tags -->
    <title>Where 2 Work</title>
    <meta name="description" content="Work.
    From Anywhere.
    The most reliable workspace.
    At your fingertips.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Where 2 Work">
    <meta itemprop="description" content="Work.
    From Anywhere.
    The most reliable workspace.
    At your fingertips.">
    <meta itemprop="image" content="">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Quando&display=swap" rel="stylesheet">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://www.where2work.es">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Where 2 Work">
    <meta property="og:description" content="Work.
    From Anywhere.
    The most reliable workspace.
    At your fingertips.">
    <meta property="og:image" content="">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Where 2 Work">
    <meta name="twitter:description" content="Work.
    From Anywhere.
    The most reliable workspace.
    At your fingertips.">
    <meta name="twitter:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/sharp-solid.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%# <link rel="stylesheet" type="text/css" href="https://www.dropbox.com/s/7miilawnusvpudd/custom_flatpickr.css"> %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("favicon.ico") %>

    <!-- Progressive web app stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <%= render "shared/branding" %>
    <% if  params[:action] == 'index' && params[:controller] == 'venues'%>
      <div class="main-content-home">
        <%= yield %>
      </div>
      <%= render "shared/navbar" %>
    <% else %>
      <div class="main-content">
         <%= yield %>
      </div>
      <%= render "shared/navbar" %>
    <% end %>
  </body>
</html>
